<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>1000</particles>
  <batches>50</batches>
  <inactive>5</inactive>
  <source particle="neutron" strength="1.0" type="independent">
    <space type="box">
      <parameters>-1.299038105676658 -1.299038105676658 -190.0 1.299038105676658 1.299038105676658 190.0</parameters>
    </space>
    <constraints>
      <fissionable>true</fissionable>
    </constraints>
  </source>
</settings>
